<body id="searchPage">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="">
          <p>
            <span class="badge badge-secondary">{{user.public_repos}}Public Repos</span>
            <span class="badge badge-success">{{user.followers}}Followers</span>
            <span class="badge badge-warning">{{user.following}}Following</span>
          </p>
        </div>
        <div class="card card-cascade">
          <!--Card image-->
          <div class="view view-cascade overlay">
            <img src="{{user.avatar_url}}" class="card-img-top img-responsive" alt="profile photo">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--/.Card image-->
          <!--
          Card Content -->
          <div class="card-body card-body-cascade text-center">
            <h4 class="card title"><strong>{{user.name}}</strong></h4>
            <h5>{{user.location}}</h5>
            <p><a href="{{user.html_url}}" target="_blank" class="btn btn-success">View Profile on Github</a></p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="card card-cascade">
          <ul class="list-group">
            <li class="list-group-item"><strong>Username:</strong><br>{{user.login}}</li>
            <li class="list-group-item"><strong>Bio:</strong><br>{{user.bio}}</li>
            <li class="list-group-item"><strong>Email:</strong><br>{{user.email}}</li>
            <li class="list-group-item"></li>
          </ul>
          <hr>
          <ul class="list-group">
            <h3>Repositories</h3>
          </ul>
        </div>
      </div>
    </div>
  </div>
</body>