<body id="searchPage">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-centred">
        <div class="card card-cascade">
          <!--Card image-->
          <div class="view view-cascade overlay">
            <img src="{{user.avatar_url}}" class="card-img-top img-responsive" alt="profile photo">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--/.Card image-->
          <!--
          Card Content -->
          <div class="card-body card-body-cascade text-center">
            <h4 class="card title"><strong>{{user.name}}</strong></h4>
            <h5></h5>
          </div>
        </div>

      </div>

    </div>

  </div>
</body>